* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navbar header {
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 32px;
}

a {
  font-size: 18px;
}

#navbar ul {
  height: 200px;
  max-width: 815px;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 0;
}

#navbar ul li {
  list-style-type: none;
  border-top: 1px solid;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0px;
  padding-left: 30px;
}

a {
  text-decoration: none;
  color: black;
}

.main-section {
  padding-top: 20px;
}

.main-section header {
  font-size: 32px;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 20px;
}

.main-section p {
  font-size: 20px;
  padding-left: 30px;
  padding-right: 5px;
}

.main-section li {
  font-size: 20px;
  padding-left: 30px;
  list-style-position: inside;
}
