* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav {
  background-color: #be3144;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav ul li {
  list-style-type: none;
  padding: 20px;
}

.nav ul li:hover {
  background-color: #363a85;
}

.nav ul li a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1.5rem;
  cursor: pointer;
}

#welcome-section {
  position: relative;
  height: 100vh;
  background-color: #35373a;
}
.welcome {
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 150px;
}
.welcome h1 {
  font-size: 3.6rem;
  color: #f0f0f0;
}

.welcome p {
  color: #be3144;
  font-size: 2.5rem;
  font-weight: none;
  font-style: italic;
}

#projects {
  background-color: #45567d;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-header {
  max-width: 600px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 20px;
}

.project-header h2 {
  font-size: 2.7rem;
  color: #f0f0f0;
  text-align: center;
  padding-bottom: 5px;
  letter-spacing: 1.5;
}

.project-header hr {
  color: 1px #f0f0f0;
}

.project-grid {
  display: flex;
  flex-direction: column;
  max-width: 731px;
}

.project-grid a {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1.3rem;
  text-align: center;
}

.project-grid img {
  width: 100%;
  height: auto;
}

.project-grid p {
  padding: 10px;
  background-color: #303841;
}

.project-title p span {
  color: #303841;
  transition: color 0.3s ease-out;
}

.project-title:hover span {
  color: orange;
}

.button-link {
  display: flex;
  max-width: 731px;
}

.btn {
  background-color: #303841;
  width: auto;
  height: auto;
  margin: 50px auto 100px auto;
  padding: 10px;
  border-radius: 2px;
  text-decoration: none;
  color: #f0f0f0;
}

.btn i {
  padding-left: 5px;
}

.btn-show-all {
  font-size: 2rem;
  background: #303841;
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: #be3144;
}

@media (min-width: 424px) {
  .welcome {
    margin-top: 250px;
  }
}

@media (min-width: 461px) {
  .nav {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media (min-width: 732px) {
  .project-grid {
    display: initial;
    max-width: 1092px;
  }

  .project-grid a {
    display: flex;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.3rem;
    text-align: center;
  }

  .project-grid .project {
    float: left;
    width: 50%;
  }

  .project-grid::after {
    content: '';
    display: table;
    clear: both;
  }

  #projects::after {
    content: '';
    display: table;
    clear: both;
  }

  .button-link {
    display: flex;
    max-width: 1092px;
    margin: 0 auto;
  }
}
@media (min-width: 1093px) {
  .project-grid {
    display: initial;
    max-width: 1280px;
  }

  .project-grid .project {
    width: 33%;
  }

  .button-link {
    max-width: 1280px;
  }
}
