body {
  background-color: #eeeeee;
}

#main #title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #eeeeee;
  padding-bottom: 30px;
}

h1 {
  font-size: 40px;
}

main #img-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}

#img-div img {
  padding-bottom: 20px;
  width: 70%;
}

#tribute-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.list-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  font-size: 20px;
}

.italic p {
  margin: 0;
  padding-left: 10px;
  width: 70%;
  font-style: italic;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

footer a {
  text-decoration: none;
  padding: 10px;
}
